 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    html body {
        background-image: linear-gradient(to top, #43cea2, #4CB8C4);
            background-repeat: no-repeat;
           background-attachment: fixed;
        height: 100%;
        width:100%;
        margin-top: 0;
        position: relative;
}

#decor{
    background-color: #4CB8C4;
    background-image: url('http://www.clker.com/cliparts/F/d/7/c/1/o/london-skyline-hi.png');
    height: 100px;
}

#map{
    margin-top: 20px;
          height: 75vh;
}

.color {
        border: 1px solid;
        height: 100px;
        width: 12px;
        margin-right: 3px;
        float: left;
      }

      .red {
        background: linear-gradient(to top, #FFAE30, #9C0E36);
      }

.navbar-brand{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 800;
}


.navbar-nav{
    padding-right: 40px;
    font-weight: 800; 
    font-size: 20px;
}
.navbar{
    padding-bottom: 0px;
}
.nav-link {
    margin-left: 30px;
}

.nav-item{
    text-align: right;
}



.spacer { 
    margin:0; 
    padding:0; 
    height:3vh; 
}

#bikeTheft{
    font-size: 18px;
    color: whitesmoke;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:10px;
}

.btn-outline-primary-success:active:focus {
  color: #ffffff; 
  background-color: #161617; 
  border-color: #494F57;
}
.carousel-item h2{
    margin-top: 0;
    color: whitesmoke;
}

.btn-outline-primary label{
    padding: 0;
    color: lightgrey;
    font-weight: 600; 
    font-size: 20px;
}

.btn-outline-primary label:hover{
    padding: 0;
    color: whitesmoke;
    font-weight: 600; 
    font-size: 20px;
}
      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 5px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
      }

  .custom-toggler.navbar-toggler {
    border-color: whitesmoke;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



#searchbar h1{
    color: whitesmoke;
    justify-content: center;
    font-weight: 500;
}

#finderBox label{
    color: whitesmoke;
    font-weight: 700;
    margin-right: 20px;
}
#finderBox2 label{
    color: whitesmoke;
    font-weight: 700;
    margin-right: 20px;
}
#finderBox3 label{
    color: whitesmoke;
    font-weight: 700;
    margin-right: 20px;
}

#finderBox {
padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; 
}

#finderBox3 {
padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    justify-content:space-between;
}

#finderBox2 {
    display: inline-flex;
    align-content: center;
    flex-flow: row wrap;
padding-bottom: 30px;
margin-left: 5%;
    margin-right: 5%;
    width: 90%
}
  
      #target {
        width: 345px;
      }
}

#legend h3{
    text-decoration: underline;
     font-weight: 800;
    width: 70px;
}
#legendnotes{
    height:100px;
    margin: 0;
    padding: 0;
    width: 20px;
}


.bg-black {
    background-color: black;
}


#searchbar{
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 40vh;
    height: auto;
}

.carousel-item{
   padding-top: 20px;
    padding-bottom: 40px;
}


#description{
    margin-top: 20px;
    height: auto;
    background-color:  rgba(0, 0, 0, 0.25);
        font-size: 15px;
        font-weight: 300;
}

#London_Area_Info{
    height:100%;
    width: 100%;
    margin:auto;
    display:none;
}



@media (min-width: 576px) {
    #description { 
    height: auto;
    }
}
@media (min-width: 768px) {
    #description { 
         height: auto;
    }
}
@media (min-width: 992px) {
    #description {
        height: 75vh;
    }
}


.btn-outline-primary{
    border: 6px solid gainsboro;
    color: gainsboro!important;
    font-weight: 800;
    font-size: 17px;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    border: 6px solid darkgray !important;;
    color: darkgray!important;
    background-color: transparent  !important;;
    font-weight: 800; 
    font-size: 16px;
}

.btn-outline-primary:active{
    border: 6px solid darkgray !important;;
    color: darkgray  !important;
    background-color: transparent;
    font-weight: 800;
    font-size: 16px;
}



#info{
    color: whitesmoke;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
}
#proptarg{
    color: whitesmoke;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
}

#property{
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    border:1px solid whitesmoke;
}


@media (min-width: 576px) {
    #info { 
        font-size: 21px;
    }
    #proptarg { 
        font-size: 21px;
         margin-left: 70px;
    margin-right: 70px;
    }
    #property { 
        margin-left: 70px;
    margin-right: 70px;
        font-size: 21px;
    }
}
@media (min-width: 768px) {
    #info { 
        font-size: 21px;
    }
    #proptarg { 
        font-size: 21px;
        margin-left: 70px;
    margin-right: 70px;
    }
    #property { 
        margin-left: 70px;
    margin-right: 70px;
        font-size: 21px;
    }
}
@media (min-width: 992px) {
    #info {
        font-size: 22px;
    }
    #proptarg { 
        font-size: 22px;
        margin-left: 70px;
    margin-right: 70px;
    }
    #property { 
        margin-left: 50px;
    margin-right: 50px;
        margin-bottom: 40px;
        font-size: 22px;
    }
}
@media (min-width: 1200px) {
    #info {
        font-size: 22px;
        }
    #proptarg { 
        font-size: 22px;
        margin-left: 40px;
    margin-right: 40px;
    }
    #property { 
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 40px;
        font-size: 22px;
    }
}



.btn-outline-primary-success:active:focus {
  color: #ffffff; 
  background-color: #161617; 
  border-color: #494F57;
}
.carousel-item h2{
    margin-top: 0;
    color: whitesmoke;
}
.carousel-item h1{
    margin-top: 0;
    margin:auto;
    color: whitesmoke;
}

@media (max-width: 576px) {
    #carousel-indicators > li{
        font-size: 11px;
    }
}
@media (min-width: 576px) {
    #seeker { font-size: 1.25rem;
    width: 90%;
    }
    #carousel-indicators > li{
        font-size: 16px;
        
    }
}
@media (min-width: 768px) {
    #seeker { font-size: 1.5rem;
    width: 60%;}
    #carousel-indicators > li{
       font-size: 18px; 
    }
}
@media (min-width: 992px) {
    #seeker { font-size: 1.4rem;
    width: 50%;}
    #carousel-indicators > li{
       font-size: 18px; 
    }
}
@media (min-width: 1200px) {
    #seeker { font-size: 1.4rem;
    width: 50%;}
    #carousel-indicators > li{
       font-size: 18px; 
    }
}

#carousel-indicators > li.active{
    background: rgba(0, 0, 0, 0.4);
    color:floralwhite;
    margin-left: 20px; 
}

#carousel-indicators > li{
width: 100px;
    height: 25px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.6);
    text-indent: 0;
    font-weight: 600;
    color:slategray;
    margin-left: 20px;
    line-height: 23px;
}


      .pac-controls label {
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        margin: 0;
        background-color: #fff;
        font-weight: 500;
        text-overflow: ellipsis;
        width: 100%;
          font-size: 18px;
         height:30px;
          
      }

#commuteSelect {
    width: 180px;
    margin-left: 0;
    margin-bottom: 10px;
}


#searchbar h1{
    color: whitesmoke;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

@media (min-width: 576px) {
    #pac-input { 
         font-size: 20px;
        height:30px;
    }
    #finderBox label{
    font-size: 20px;
}

    #finderBox3 label{
    font-size: 20px;
}
    #searchbar h1{
    font-size: 26px;
}
     #finderBox3 {
    justify-content: flex-start;
}
    #commuteSelect {
    width: auto;
    margin-bottom: 10px;
    font-size: auto;
    font-weight: 400;
    height: 30px;
}
}
@media (min-width: 768px) {
    #pac-input {
        font-size: 22px;
        height:40px;
    }
    #finderBox label{
    font-size: 22px;
}
     #finderBox3 label{
    font-size: 22px;
}
        #searchbar h1{
    font-size: 28px;
}
     #finderBox3 {
    justify-content: flex-start;
}
    #commuteSelect {
    width: auto;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    height: 40px;
}
}
@media (min-width: 992px) {
    #pac-input {font-size: 28px;
     height:50px;}
    #finderBox label{
    font-size: 24px;
}
    #finderBox3 label{
    font-size: 24px;
}
     #finderBox3 {
    justify-content: flex-start;
}
        #searchbar h1{
    font-size: 30px;
}
    #commuteSelect {
    width: auto;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    height: 45px;
}
}
@media (min-width: 1200px) {
    #pac-input {font-size: 30px;
     height:50px;}
    #finderBox label{
    font-size: 26px;
}
    #finderBox3 label{
    font-size: 26px;
}
     #finderBox3 {
    justify-content: flex-start;
}
        #searchbar h1{
    font-size: 32px;
}
    #commuteSelect {
    width: auto;
        font-size: 30px;
        font-weight: 400;
        height: 45px;
    margin-left: 30px;
    margin-bottom: 10px;
}
}

      #pac-input:focus {
        border-color: #4d90fe;
      }


#seeker{

width: 90%;
    font-size: auto;
}

#seeker { font-size: 0.8rem;
width: 100%;}

@media (min-width: 576px) {
    #seeker { font-size: 1.25rem;
    width: 100%;
    }
}
@media (min-width: 768px) {
    #seeker { font-size: 1.5rem;
    width: 60%;}
}
@media (min-width: 992px) {
    #seeker { font-size: 1.4rem;
    width: 50%;}
}
@media (min-width: 1200px) {
    #seeker { font-size: 1.4rem;
    width: 50%;}
}


#piechart{
    margin: auto;
    background-color: black;
    width: 85%;
    height: 300px;
}

footer {
   position:relative;
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */

}
